@import "var.sass"

body
    #site-header
        @media screen and (min-width: 992px)
            background: transparent !important
        
        nav
            .menu-item
                margin-left: 23px
                
                a
                    position: relative
                    color: #5a5959
                    font-size: 12px
                    letter-spacing: .5px
                    text-decoration: none

                    &:after
                        content: ""
                        position: absolute
                        left: 0
                        bottom: -4px
                        width: 0
                        border: 1px solid $ocean-color
                        transition: .2s width linear
                        opacity: 0

                    &:hover,
                        color: $ocean-color
                        font-weight: 700
                    
                        &:after
                            width: 100%
                            opacity: 1

                &.current_page_item a
                    color: $ocean-color
                    font-weight: 700

                    &:after
                        width: 100%
                        opacity: 1

            #menu-item-250
                margin-top: -4px

                a
                    padding: 11px 10px
                    background-color: $darkblue-color
                    color: #ffffff
                    font-weight: 700
                    letter-spacing: 1px
                    font-size: 16px
                    min-width: 125px
                    text-align: center

                    &:after
                        opacity: 0 !important